:root {
  --navy-color: linear-gradient(rgb(60, 60, 247), rgba(0, 0, 128, 0.4));
  --orange-color: rgba(255, 165, 0, 0.8);
  --cerulean-color: linear-gradient(
    rgba(13, 180, 185),
    rgba(13, 180, 185, 0.4)
  );
  --lime-color: linear-gradient(rgba(178, 222, 39), rgba(178, 222, 39, 0.4));
}
a:link {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
  transition: 0.07s;
}
body {
  background: conic-gradient(from 180deg, rgba(61, 51, 51, 0.637), black);
  display: block;
  padding: 30px 120px;
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-size: 60px;
  color: white;
  text-align: center;
  text-transform: lowercase;
}
h2 {
  font-size: 20px;
  color: white;
  opacity: 0.5;
}
button {
  padding: 100px;
  border: none;
  background-size: cover;
  border-radius: 100%;
  font-weight: bold;
}
button:hover {
  opacity: 0.6;
  transition: 0.07s;
}
li {
  list-style-type: none;
  display: inline;
  color: white;
  line-height: 2;
  padding: 10px;
  text-align: center;
}
footer {
  font-size: 18px;
}
p {
  line-height: 30px;
}
.about-column-left h1 {
  text-align: left;
}
.about-column-left h2 {
  text-align: left;
}
.about-column-right p {
  font-size: 18px;
  text-align: left;
}
.about-page {
  background-image: var(--navy-color), url(/images/men-running.jpg);
}
.about-emailme {
  font-size: 15px;
  background-color: var(--orange-color);
  border-radius: 20px;
  padding: 10px 15px;
}
.container {
  display: flex;
  justify-content: center;
}
.index-buttons-div {
  padding: 10px 10px;
}
.index-contact-me {
  background: var(--orange-color);
}
.index-column-left {
  order: 1;
  padding: 0 50px;
}
.index-column-right {
  order: 2;
  background: conic-gradient(from 90deg, rgba(141, 125, 125, 0.637), black);
  opacity: 0.8;
  border-radius: 10px;
  padding: 0 50px;
}
.landing-page {
  background-image: var(--lime-color), url(/images/bus.jpg);
}
.link-landing-page {
  color: 178, 222, 39;
}
.weather-page {
  background-image: var(--cerulean-color), url(/images/weather-app.png);
}
@media (max-width: 992px) {
  .about-column-left h1 {
    text-align: center;
  }
  .about-column-left h2 {
    text-align: center;
  }
  .about-column-right p {
    text-align: center;
  }
  .index-column-right {
    order: 1;
  }
  .index-column-left {
    order: 2;
  }
}
